/* General Styles */
body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, lightblue,lightgreen); /* Light blue and light green gradient background */
    color: #333;
    display: flex;
    flex-direction: column;
}

/* Main Wrapper to ensure footer goes down */
.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures footer goes to the bottom */
}

/* Main Banner Section */
.main-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-color: #00796b; /* Green background for the banner */
    color: white;
}

.banner-content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
}

.banner-content {
    max-width: 600px;
}

.banner-content h1 {
    font-size: 3em;
    margin: 0 0 20px;
}

.banner-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.banner-content .btn {
    
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.banner-content .btn:hover {
}

.banner-image img {
    max-width: 400px;
    width: 100%;
}

/* Overview Section */
.overview {
    padding: 50px 20px;
    text-align: center;
    
}

.overview h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.overview p {
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto;
}

/* About Us Section */
.about-us {
    padding: 50px 20px;
    text-align: center;
    background: linear-gradient(to bottom right, lightblue, lightgreen); /* Blue and green background */
}

.about-us h1 {
    font-size: 2.5em;
    color: #000000; /* Green text */
    margin-bottom: 20px;
}

.about-us p {
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto;
    color: #000000; /* Darker green text */
}



