body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

.quiz-section {
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer; /* Change cursor to pointer for better UX */
    border: none; /* Remove default border */
    border-radius: 5px; /* Add rounded corners */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

.selected {
    background-color: #bbdefb; /* Light blue for selected answers */
    color: black;
}

.correct {
    background-color: #c8e6c9; /* Light green for correct answers */
    color: green;
}

.incorrect {
    background-color: #ffcdd2; /* Light red for incorrect answers */
    color: red;
}

/* Footer */
footer {
    background-color: #4682b4;
    color: white;
    padding: 30px;
    text-align: center;
}

footer .contact-us, footer .footer-links {
    margin-bottom: 20px;
}

footer .footer-links ul {
    display: flex;
    justify-content: center;
}

footer .footer-links ul li {
    margin: 0 10px;
}

footer .footer-links ul li a {
    color: white;
}

footer .footer-links ul li a:hover {
    color: #d3d3d3; /* Lighter hover effect */
}

footer p {
    margin-top: 20px;
    font-size: 0.9rem;
}

