/* Main content box styling */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px; /* Set a max-width to keep content readable */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border-radius: 10px; /* Rounded corners for a modern look */
    background-color: white; /* Light background color inside the box */
}

/* Ensure the body covers the whole page */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Additional styling for acknowledgment button */
button, .quiz-button {
    padding: 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover, .quiz-button:hover {
    background-color: #45a049;
}

.quiz-button {
    text-decoration: none;
}

.quiz-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.quiz-button:hover {
    background-color: #0056b3;
}


/* Footer */
footer {
    background-color: #4682b4;
    color: white;
    padding: 30px;
    text-align: center;
}

footer .contact-us, footer .footer-links {
    margin-bottom: 20px;
}

footer .footer-links ul {
    display: flex;
    justify-content: center;
}

footer .footer-links ul li {
    margin: 0 10px;
}

footer .footer-links ul li a {
    color: white;
}

footer .footer-links ul li a:hover {
    color: #d3d3d3; /* Lighter hover effect */
}

footer p {
    margin-top: 20px;
    font-size: 0.9rem;
}

